body{
    overscroll-behavior: contain; /*This is required to prevent reloading when touching and dragging down a diagram on mobile devices in chrome*/
}

.loading-ring{
    animation: loading 0.50s linear infinite;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}